<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Заявка</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<header>
    <h3>ghsxsxG</h3>
</header>
<body>

    <h1 class="zg">Application for the competition </h1>
    <form action="" class ='peopleform' method='post'>
        <div class="team1_name">
        Team name <br></div>
        <input type="text" name="team_name" class="team_name" ><br>
        <div class='team_composition'>
        Team composition<br></div>
        <input type="text" name="users" class="users_name" ><br>
        <div class="password">  Password<br></div>
        <input type="password" name="users_password" class="team2_name"><br>
        <div class="remember" >Remember me<br></div>
        <input type="checkbox" name="krug" class="krug1"><br>
        <p><input type="submit" value="Sign in" class="sub"></p>

    </form>
</td>
</body>
<footer>
    <h3>jkasbsjkhcjskhcdg</h3>
</footer>

</html>